<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'travel/css/style.css' %}">
  </head>
  <body>
    <nav>
      <a href="{% url 'logreg:logout' %}">Log out</a>
    </nav>
    <h1>Hello,  {{request.session.user.username}}</h1>
    <h3>Your Trip Schedules</h3>
    <table>
      <thead>
        <th>Destination</th>
        <th>Travel Start Date</th>
        <th>Travel End Date</th>
        <th>Plan</th>
      </thead>
      <tbody>
        {% for trip in trips %}
        <tr>
          <td><a href="{% url 'travel:destination' trip.id %}">{{trip.destination}}</a></td>
          <td>{{trip.travel_start_date|date:"M d, Y"}}</td>
          <td>{{trip.travel_end_date|date:"M d, Y"}}</td>
          <td>{{trip.plan}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3>Other User's Travel Plans</h3>
    <table>
      <thead>
        <th>Name</th>
        <th>Destination</th>
        <th>Travel Start Date</th>
        <th>Travel End Date</th>
        <th>Do You Want to Join?</th>
      </thead>
      <tbody>
        {% for trip in other_trips %}
        <tr>
          <td>{{trip.planner.name}}</td>
          <td><a href="{% url 'travel:destination' trip.id %}">{{trip.destination}}</a></td>
          <td>{{trip.travel_start_date|date:"M d, Y"}}</td>
          <td>{{trip.travel_end_date|date:"M d, Y"}}</td>
          <td><a href="{% url 'travel:join' trip.id %}">Join</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'travel:add_page' %}">Add Travel Plan</a>
  </body>
</html>
