<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Destination</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'travel/css/style.css' %}">
  </head>
  <body>
    <nav>
      <a href="{% url 'travel:dashboard' %}">Home</a>
      <a href="{% url 'logreg:logout' %}">Log out</a>
    </nav>
    <h1>{{trip.destination}}</h1>
    <p>Planned by: {{trip.planner.name}}</p>
    <p>Description: {{trip.plan}}</p>
    <p>Travel Date From: {{trip.travel_start_date|date:"M d, Y"}}</p>
    <p>Travel Date To: {{trip.travel_end_date|date:"M d, Y"}}</p>

    <h2>Other user's joining the trip:</h2>
    <ul>
      {% for traveler in travelers %}
      {% if traveler.username != trip.planner.username %}
      <li>{{traveler.name}}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </body>
</html>
