<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'travel/css/style.css' %}">
  </head>
  <body>
    <h1>Welcome to Travel Buddy</h1>
    <div id="flash_messages">
      {% if messages %}
      {% for message in messages %}
      <p class="error">{{message}}</p>
      {% endfor %}
      {% endif %}
    </div>
    <div id="register">
      <h2>Register</h2>
        <form action="{% url 'logreg:register' %}" method="post">
          {% csrf_token %}
          <input type="text" name="name" placeholder="Name">
          <input type="text" name="username" placeholder="Username">
          <p>Password must be at least 8 characters.</p>
          <input type="password" name="password" placeholder="password ********">
          <input type="password" name="password_confirmation" placeholder="password confirmation">
          <button  type="submit" name="attempt" value="register">Register</button>
        </form>
    </div>
    <div id="login">
      <h2>Login</h2>
      <form action="{% url 'logreg:login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password *********">
        <button type="submit" name='attempt' value='login'>Log In</button>
      </form>
    </div>
  </body>
</html>
